<%- include("./header.ejs") %>

<div class="container-fluid ee">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-top:140px ;">
            <h1 class="text-center" style="font-size:1.5cm ;margin-top: 4cm;font-family: prague;color:red;">CONTACT US</h1>
        </div>
    </div>
    <!--row end-->
</div>
<!--container-fluid end-->

<!-- container start -->
<div class="container ">
    
    <div class="row">
        <div class="col-md-6 mt-4">
        <h3 style="font-weight: lighter;">SEND US A MESSAGE</h3>
        <form action="">
            <div class="mb-3">
                <label>Name:</label>
                <input type="text" name="" class="form-control">
            </div>
            <div class="mb-3">
                <label>Email:</label>
                <input type="email" name="" class="form-control">
            </div>
            <div class="mb-3">
                <label>username:</label>
                <input type="text" name="" class="form-control">
            </div>
            <div class="mb-3">
                <label>address:</label>
                <input type="text" name="" class="form-control">
            </div>
            <button class="btn btn-danger btn-lg text-light">Submit</button>
        </div>
        <div class="col-md-5 mt-4 ms-1 ff">
            <h3 class="mb-4" style="font-weight: lighter;">CONTACT INFO</h3>
            <h6 style="color: red;">Address</h6>
            <p>
                V. L. Mehta Road, Vile Parle,
                West, Mumbai, Maharashtra, India, Pin Code - 400 056</p>
            <h6 style="color: red;">For Enquiry</h6>
            <p>MOBILE: <b style="color: red;">022 4235 5555</b> </p>
            <p>EMAIL: <b style="color: red;"> NMIMS@gmail.com</b></p>
            <h6 style="color: red;">For Complaint</h6>
            <p>MOBILE: <b style="color: red;">080-40855555 </b></p>
            
        </div>
    </div> <!--row end-->
</div><!--container end-->



<%- include("./footer.ejs") %>