.weblogo {
    width: 90px;
}

.navbar {
    background: white !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: black !important;
    font-size: 15px;
    font-weight: 600;
}

.moblogo {
    display: none;
}

.navbar-nav a:hover {
    background-color: wheat;
}
.photo1{
    background-image: url();
}
.image{
    height: 30px;
    width: 30px;
}